<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="as1.com.rvmtpack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/input_data"
        android:theme="@style/AppTheme">
        <activity
            android:name=".As1RVMTActivity"
            android:label="@string/input_data" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".As1RVMTFinalScores"
            android:label="@string/final_scores" >
            <intent-filter>
                <action android:name="as1.com.rvmtpack.AS1RVMTFINALSCORES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
